In [2]:
import pandas as pd

df1=pd.read_excel("Final_UPH_CDN.xlsx")
df2=pd.read_excel("Final_UPH_US.xlsx")

values1=df1[["PriceList", "Catalog", "GradeGroup", "Price"]]
values2=df2[["PriceList", "Catalog", "GradeGroup", "Price"]]

dataframes=[values1,values2]
join=pd.concat(dataframes)

join.to_excel("UPH_Oct.xlsx")
join

           PriceList   Catalog GradeGroup   Price
0      UFCA 1711E V5  30136-01         10  1200.0
1      UFCA 1711E V5  30136-01         20  1240.0
2      UFCA 1711E V5  30136-01         30  1270.0
3      UFCA 1711E V5  30136-01         40  1300.0
4      UFCA 1711E V5  30136-01         50  1350.0
...              ...       ...        ...     ...
12416  UFMX 1711E V6  37132-S3        700  1595.0
12417  UFMX 1711E V6  37132-S3        800  1645.0
12418  UFMX 1711E V6  37179-B1        200   180.0
12419  UFMX 1711E V6  80026-12          F   965.0
12420  UFMX 1711E V6  80026-16          F  1315.0

[24860 rows x 4 columns]